body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  .container {
    max-width: 450px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fdfdfd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-container {
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    display: block;
    width: 105%;
    padding: 10px;
    background-color: #00fff2;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00f7ff;
  }
  